In [1]:
from pyspark.sql import SparkSession

# SparkSession is an entry point to PySpark's functionality within a program. This entry point lets you access the features of Spark through Python.

In [2]:
spark = (SparkSession.builder.appName("Converting articles into BoW Vectors").getOrCreate())

In [3]:
spark

In [4]:
data = spark.read.csv("all-the-news-2-1.csv")

# The older version of PySpark used to store the data in special kind of Data Structure called Resilient Distributed Dataset (RDD). The special feature of this data structure is that it is Row Major.

# The new version of PySpark has also introduced a column major data structure called PySpark DataFrames.

In [5]:
print(data)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [6]:
data.show(5)

+--------------------+--------------------+-------------------+----------------+-----+----+-----------+--------------------+--------------------+--------------------+--------------------+------------+
|                 _c0|                 _c1|                _c2|             _c3|  _c4| _c5|        _c6|                 _c7|                 _c8|                 _c9|                _c10|        _c11|
+--------------------+--------------------+-------------------+----------------+-----+----+-----------+--------------------+--------------------+--------------------+--------------------+------------+
|                null|          Unnamed: 0|               date|            year|month| day|     author|               title|             article|                 url|             section| publication|
|                   0|                   0|2016-12-09 18:31:00|            2016| 12.0|   9|Lee Drutman|We should take co...|"This post is par...|             however| several critics ...| for example|
|                   1|                   1|2016-10-07 21:26:46|            2016| 10.0|   7|Scott Davis|Colts GM Ryan Gri...| The Indianapolis...|                null|                null|        null|
|The highest-paid ...|https://www.busin...|               null|Business Insider| null|null|       null|                null|                null|                null|                null|        null|
|                   2|                   2|2018-01-26 00:00:00|            2018|  1.0|  26|       null|Trump denies repo...|DAVOS, Switzerlan...|https://www.reute...|               Davos|     Reuters|
+--------------------+--------------------+-------------------+----------------+-----+----+-----------+--------------------+--------------------+--------------------+--------------------+------------+
only showing top 5 rows

In [7]:
data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [8]:
print(data.dtypes)

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string'), ('_c4', 'string'), ('_c5', 'string'), ('_c6', 'string'), ('_c7', 'string'), ('_c8', 'string'), ('_c9', 'string'), ('_c10', 'string'), ('_c11', 'string')]

In [9]:
data.show()

+--------------------+--------------------+-------------------+----------------+-----+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _c0|                 _c1|                _c2|             _c3|  _c4| _c5|                 _c6|                 _c7|                 _c8|                 _c9|                _c10|                _c11|
+--------------------+--------------------+-------------------+----------------+-----+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                null|          Unnamed: 0|               date|            year|month| day|              author|               title|             article|                 url|             section|         publication|
|                   0|                   0|2016-12-09 18:31:00|            2016| 12.0|   9|         Lee Drutman|We should take co...|"This post is par...|             however| several critics ...|         for example|
|                   1|                   1|2016-10-07 21:26:46|            2016| 10.0|   7|         Scott Davis|Colts GM Ryan Gri...| The Indianapolis...|                null|                null|                null|
|The highest-paid ...|https://www.busin...|               null|Business Insider| null|null|                null|                null|                null|                null|                null|                null|
|                   2|                   2|2018-01-26 00:00:00|            2018|  1.0|  26|                null|Trump denies repo...|DAVOS, Switzerlan...|https://www.reute...|               Davos|             Reuters|
|                   3|                   3|2019-06-27 00:00:00|            2019|  6.0|  27|                null|France's Sarkozy ...|PARIS (Reuters) -...|https://www.reute...|          World News|             Reuters|
|                   4|                   4|2016-01-27 00:00:00|            2016|  1.0|  27|                null|Paris Hilton: Wom...|"Paris Hilton arr...|https://www.tmz.c...|                null|                 TMZ|
|                   5|                   5|2019-06-17 00:00:00|            2019|  6.0|  17|                null|ECB's Coeure: If ...|BERLIN, June 17 (...|                null|                null|                null|
|Editing by Tassil...|https://www.reute...|         Financials|         Reuters| null|null|                null|                null|                null|                null|                null|                null|
|                   6|                   6|2019-06-23 00:00:00|            2019|  6.0|  23|                null|Venezuela detains...|CARACAS (Reuters)...|https://www.reute...|          World News|             Reuters|
|                   7|                   7|2018-05-02 17:09:00|            2018|  5.0|   2|   Caroline Williams|You Can Trick You...|"If only every da...|"" DeGutis says. ...| paying attention...| it makes it easi...|
|                   8|                   8|2016-05-18 13:00:06|            2016|  5.0|  18|         Mark Bergen|How to watch the ...|Google I/O, the c...|https://www.vox.c...|                null|                 Vox|
|                   9|                   9|2017-03-02 00:00:00|            2017|  3.0|   2|            Tim Hume|China is dismissi...|China is dismissi...|https://news.vice...|                null|           Vice News|
|                  10|                  10|2019-05-22 20:10:00|            2019|  5.0|  22|       Emily Stewart|“Elizabeth Warren...|Elizabeth Warren ...|https://www.vox.c...|                null|                 Vox|
|                  11|                  11|2019-06-23 00:00:00|            2019|  6.0|  23|Jessica DiNapoli,...|Hudson's Bay's ch...|(Reuters) - The s...|https://www.reute...|       Business News|             Reuters|
|                  12|                  12|2018-11-05 00:00:00|            2018| 11.0|   5|                null|Joakim Noah's Vic...|Joakim Noah's ﻿mo...|https://www.tmz.c...|                null|                 TMZ|
|                  13|                  13|2019-05-10 00:00:00|            2019|  5.0|  10|                null|Jermaine Jackson ...|"Jermaine Jackson...|"" ""Thriller"" a...| and the 2 will f...| Quincy isn't say...|
|                  14|                  14|2019-03-28 00:00:00|            2019|  3.0|  28|                null|UK PM May presses...|LONDON (Reuters) ...|https://www.reute...|          World News|             Reuters|
|                  15|                  15|2016-09-08 15:40:02|            2016|  9.0|   8|          Jeff Stein|Nancy Pelosi says...|"Nancy Pelosi is ...|"" Skelley says. ...|           of course| but it begins lo...|
|                  16|                  16|2017-01-11 23:10:01|            2017|  1.0|  11|        Libby Nelson|The government of...|The nonpartisan d...|https://www.vox.c...|                null|                 Vox|
+--------------------+--------------------+-------------------+----------------+-----+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import col

In [11]:
text_column = data.select("_c8")

In [12]:
text_column.show()

+--------------------+
|                 _c8|
+--------------------+
|             article|
|"This post is par...|
| The Indianapolis...|
|                null|
|DAVOS, Switzerlan...|
|PARIS (Reuters) -...|
|"Paris Hilton arr...|
|BERLIN, June 17 (...|
|                null|
|CARACAS (Reuters)...|
|"If only every da...|
|Google I/O, the c...|
|China is dismissi...|
|Elizabeth Warren ...|
|(Reuters) - The s...|
|Joakim Noah's ﻿mo...|
|"Jermaine Jackson...|
|LONDON (Reuters) ...|
|"Nancy Pelosi is ...|
|The nonpartisan d...|
+--------------------+
only showing top 20 rows

In [13]:
text_column = data.select(data["_c8"])

In [14]:
text_column.show()

+--------------------+
|                 _c8|
+--------------------+
|             article|
|"This post is par...|
| The Indianapolis...|
|                null|
|DAVOS, Switzerlan...|
|PARIS (Reuters) -...|
|"Paris Hilton arr...|
|BERLIN, June 17 (...|
|                null|
|CARACAS (Reuters)...|
|"If only every da...|
|Google I/O, the c...|
|China is dismissi...|
|Elizabeth Warren ...|
|(Reuters) - The s...|
|Joakim Noah's ﻿mo...|
|"Jermaine Jackson...|
|LONDON (Reuters) ...|
|"Nancy Pelosi is ...|
|The nonpartisan d...|
+--------------------+
only showing top 20 rows

In [15]:
text_column = data.select(data._c8)

In [16]:
text_column.show()

+--------------------+
|                 _c8|
+--------------------+
|             article|
|"This post is par...|
| The Indianapolis...|
|                null|
|DAVOS, Switzerlan...|
|PARIS (Reuters) -...|
|"Paris Hilton arr...|
|BERLIN, June 17 (...|
|                null|
|CARACAS (Reuters)...|
|"If only every da...|
|Google I/O, the c...|
|China is dismissi...|
|Elizabeth Warren ...|
|(Reuters) - The s...|
|Joakim Noah's ﻿mo...|
|"Jermaine Jackson...|
|LONDON (Reuters) ...|
|"Nancy Pelosi is ...|
|The nonpartisan d...|
+--------------------+
only showing top 20 rows

In [17]:
text_column = data.select(col("_c8"))

In [18]:
text_column.show()

+--------------------+
|                 _c8|
+--------------------+
|             article|
|"This post is par...|
| The Indianapolis...|
|                null|
|DAVOS, Switzerlan...|
|PARIS (Reuters) -...|
|"Paris Hilton arr...|
|BERLIN, June 17 (...|
|                null|
|CARACAS (Reuters)...|
|"If only every da...|
|Google I/O, the c...|
|China is dismissi...|
|Elizabeth Warren ...|
|(Reuters) - The s...|
|Joakim Noah's ﻿mo...|
|"Jermaine Jackson...|
|LONDON (Reuters) ...|
|"Nancy Pelosi is ...|
|The nonpartisan d...|
+--------------------+
only showing top 20 rows

In [19]:
from pyspark.sql.functions import split

In [20]:
text_column = data.select(split(col("_c8")," ").alias("article"))

In [21]:
text_column.show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                             article|
+----------------------------------------------------------------------------------------------------+
|                                                                                           [article]|
|["This, post, is, part, of, Polyarchy,, an, independent, blog, produced, by, the, political, refo...|
|[, The, Indianapolis, Colts, made, Andrew, Luck, the, highest-paid, player, in, NFL, history, thi...|
|                                                                                                null|
|[DAVOS,, Switzerland, (Reuters), -, U.S., President, Donald, Trump, denied, a, report, on, Friday...|
|[PARIS, (Reuters), -, Former, French, president, Nicolas, Sarkozy, published, a, new, memoir, on,...|
|["Paris, Hilton, arrived, at, LAX, Wednesday, dressed, to, pay, her, last, respects, to, her, unc...|
|[BERLIN,, June, 17, (Reuters), -, ECB, board, member, Benoit, Coeure, said, in, an, interview, pu...|
|                                                                                                null|
|[CARACAS, (Reuters), -, Venezuelan, authorities, have, arrested, six, members, of, the, country’s...|
|["If, only, every, day, could, be, like, this., You, can’t, put, your, finger, on, why:, Maybe, y...|
|[Google, I/O,, the, company's, big, developer, conference,, kicks, off, today, (May, 18)., It's, ...|
|[China, is, dismissing, unfavorable, media, reports, as, fake, news, because, that’s, what, Trump...|
|[Elizabeth, Warren, is, giving, people, a, new, reason, to, pick, up, their, phones, when, a, cal...|
|[(Reuters), -, The, success, of, Hudson’s, Bay, Co, Executive, Chairman, Richard, Baker’s, $1.3, ...|
|[Joakim, Noah's, ﻿model, girlfriend, Lais, Ribeiro, was, so, damn, hot, in, her, thong, bikini, i...|
|["Jermaine, Jackson, ﻿is, slamming, Quincy, Jones, for, removing, Michael, Jackson, references, f...|
|[LONDON, (Reuters), -, British, Prime, Minister, Theresa, May, is, pressing, on, with, efforts, t...|
|["Nancy, Pelosi, is, getting, visions, of, reclaiming, her, House, gavel., In, an, interview, pub...|
|[The, nonpartisan, director, of, the, federal, Office, of, Government, Ethics, ripped, into, Pres...|
+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import explode

In [23]:
tokens = text_column.select(explode(col("article")).alias("tokens"))

In [24]:
tokens.show()

+-----------+
|     tokens|
+-----------+
|    article|
|      "This|
|       post|
|         is|
|       part|
|         of|
| Polyarchy,|
|         an|
|independent|
|       blog|
|   produced|
|         by|
|        the|
|  political|
|     reform|
|    program|
|         at|
|        New|
|   America,|
|          a|
+-----------+
only showing top 20 rows

In [25]:
from pyspark.sql.functions import lower

In [26]:
normalized_tokens = tokens.select(lower(col("tokens")).alias("normalized tokens"))

In [27]:
normalized_tokens.show()

+-----------------+
|normalized tokens|
+-----------------+
|          article|
|            "this|
|             post|
|               is|
|             part|
|               of|
|       polyarchy,|
|               an|
|      independent|
|             blog|
|         produced|
|               by|
|              the|
|        political|
|           reform|
|          program|
|               at|
|              new|
|         america,|
|                a|
+-----------------+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import regexp_extract

In [29]:
clean_tokens = normalized_tokens.select(regexp_extract(col("normalized tokens"),"[a-z]*",0).
                                        alias("Cleaned Tokens"))

In [30]:
clean_tokens.show()

+--------------+
|Cleaned Tokens|
+--------------+
|       article|
|              |
|          post|
|            is|
|          part|
|            of|
|     polyarchy|
|            an|
|   independent|
|          blog|
|      produced|
|            by|
|           the|
|     political|
|        reform|
|       program|
|            at|
|           new|
|       america|
|             a|
+--------------+
only showing top 20 rows

In [31]:
non_null_cleaned_tokens = clean_tokens.filter(col("Cleaned Tokens") != "")

In [32]:
non_null_cleaned_tokens.show()

+--------------+
|Cleaned Tokens|
+--------------+
|       article|
|          post|
|            is|
|          part|
|            of|
|     polyarchy|
|            an|
|   independent|
|          blog|
|      produced|
|            by|
|           the|
|     political|
|        reform|
|       program|
|            at|
|           new|
|       america|
|             a|
|    washington|
+--------------+
only showing top 20 rows

In [33]:
token_groups = non_null_cleaned_tokens.groupby(col("Cleaned Tokens"))

In [34]:
token_groups

In [35]:
token_counts = token_groups.count()

In [36]:
token_counts.show()

+--------------+-------+
|Cleaned Tokens|  count|
+--------------+-------+
|          some|1348511|
|    likelihood|  12071|
|         still| 682599|
|         those| 741766|
|      tortured|   5220|
|        online| 200524|
|           few| 380259|
|   transaction|  31312|
|     indicator|   8984|
|     involving|  42441|
|      incoming|  12798|
|     connected|  40889|
|       jewelry|  15130|
|        bazaar|   2039|
|  safeguarding|   1675|
|        filing|  58015|
|        brands|  55095|
|       flashed|   2282|
|   interaction|   9840|
|           art| 183475|
+--------------+-------+
only showing top 20 rows

In [37]:
token_counts.orderBy("count",ascending=False).show(100)

+--------------+--------+
|Cleaned Tokens|   count|
+--------------+--------+
|           the|49614097|
|            to|25278753|
|            of|22664966|
|             a|22242784|
|           and|21699171|
|            in|18907734|
|          that|10654902|
|            on| 9087425|
|           for| 9066347|
|            is| 7811476|
|            it| 7043139|
|          with| 6416271|
|            as| 5385847|
|            by| 5363492|
|           was| 5249367|
|          said| 4944904|
|            at| 4684935|
|            he| 4379023|
|          from| 4267604|
|           are| 3800689|
|            be| 3782725|
|           has| 3751435|
|          have| 3703778|
|           but| 3560702|
|            an| 3538650|
|             i| 3406538|
|          this| 3401500|
|           his| 3371237|
|           not| 3152063|
|           you| 2872337|
|          they| 2779378|
|          more| 2692541|
|           its| 2616173|
|           who| 2578406|
|          will| 2493764|
|         their| 2374196|
|         about| 2357556|
|            we| 2339416|
|            or| 2303646|
|           new| 2250637|
|           had| 2225702|
|         which| 2127790|
|           one| 2075520|
|           her| 2072795|
|         trump| 2016951|
|           she| 2003116|
|         would| 1986476|
|            up| 1912074|
|          been| 1869439|
|          were| 1852990|
|         after| 1849866|
|           out| 1702758|
|          also| 1697480|
|           all| 1677483|
|        people| 1673880|
|           can| 1656043|
|          when| 1647544|
|          than| 1549684|
|          like| 1531289|
|          what| 1486246|
|         there| 1485571|
|            so| 1482132|
|          year| 1480375|
|            mr| 1424005|
|            if| 1403218|
|          over| 1388058|
|         first| 1348724|
|          some| 1348511|
|           two| 1336832|
|          into| 1311814|
|       percent| 1281056|
|         other| 1278639|
|             u| 1276708|
|          time| 1254426|
|          last| 1237274|
|     president| 1226881|
|          just| 1224300|
|       company| 1222047|
|         could| 1173180|
|            no| 1106479|
|           our| 1066656|
|           now| 1037935|
|       million| 1037572|
|          them| 1021216|
|            my| 1016348|
|         years| 1014736|
|            do|  981478|
|           how|  969898|
|          your|  966904|
|          most|  955236|
|         while|  947594|
|         state|  879958|
|           get|  863950|
|       because|  850873|
|           may|  848894|
|          even|  847753|
|          only|  836419|
|           him|  830422|
|         world|  811494|
|    government|  810561|
+--------------+--------+
only showing top 100 rows

# We are leaving this task of finding top 100 most frequently occurring tokens as it is at this point of time and we will be back to improve this code after learning about some advancd topics in pyspark dataframes. For time being, we are going to take a diversion and learn about some more basic operations which will lead us to advanced topics.

In [39]:
data.select(*data.columns[:3]).show()

+--------------------+--------------------+-------------------+
|                 _c0|                 _c1|                _c2|
+--------------------+--------------------+-------------------+
|                null|          Unnamed: 0|               date|
|                   0|                   0|2016-12-09 18:31:00|
|                   1|                   1|2016-10-07 21:26:46|
|The highest-paid ...|https://www.busin...|               null|
|                   2|                   2|2018-01-26 00:00:00|
|                   3|                   3|2019-06-27 00:00:00|
|                   4|                   4|2016-01-27 00:00:00|
|                   5|                   5|2019-06-17 00:00:00|
|Editing by Tassil...|https://www.reute...|         Financials|
|                   6|                   6|2019-06-23 00:00:00|
|                   7|                   7|2018-05-02 17:09:00|
|                   8|                   8|2016-05-18 13:00:06|
|                   9|                   9|2017-03-02 00:00:00|
|                  10|                  10|2019-05-22 20:10:00|
|                  11|                  11|2019-06-23 00:00:00|
|                  12|                  12|2018-11-05 00:00:00|
|                  13|                  13|2019-05-10 00:00:00|
|                  14|                  14|2019-03-28 00:00:00|
|                  15|                  15|2016-09-08 15:40:02|
|                  16|                  16|2017-01-11 23:10:01|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [46]:
data.select(*data.columns[7:12]).show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _c7|                 _c8|                 _c9|                _c10|                _c11|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|               title|             article|                 url|             section|         publication|
|We should take co...|"This post is par...|             however| several critics ...|         for example|
|Colts GM Ryan Gri...| The Indianapolis...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Trump denies repo...|DAVOS, Switzerlan...|https://www.reute...|               Davos|             Reuters|
|France's Sarkozy ...|PARIS (Reuters) -...|https://www.reute...|          World News|             Reuters|
|Paris Hilton: Wom...|"Paris Hilton arr...|https://www.tmz.c...|                null|                 TMZ|
|ECB's Coeure: If ...|BERLIN, June 17 (...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Venezuela detains...|CARACAS (Reuters)...|https://www.reute...|          World News|             Reuters|
|You Can Trick You...|"If only every da...|"" DeGutis says. ...| paying attention...| it makes it easi...|
|How to watch the ...|Google I/O, the c...|https://www.vox.c...|                null|                 Vox|
|China is dismissi...|China is dismissi...|https://news.vice...|                null|           Vice News|
|“Elizabeth Warren...|Elizabeth Warren ...|https://www.vox.c...|                null|                 Vox|
|Hudson's Bay's ch...|(Reuters) - The s...|https://www.reute...|       Business News|             Reuters|
|Joakim Noah's Vic...|Joakim Noah's ﻿mo...|https://www.tmz.c...|                null|                 TMZ|
|Jermaine Jackson ...|"Jermaine Jackson...|"" ""Thriller"" a...| and the 2 will f...| Quincy isn't say...|
|UK PM May presses...|LONDON (Reuters) ...|https://www.reute...|          World News|             Reuters|
|Nancy Pelosi says...|"Nancy Pelosi is ...|"" Skelley says. ...|           of course| but it begins lo...|
|The government of...|The nonpartisan d...|https://www.vox.c...|                null|                 Vox|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [47]:
data.select("_c7","_c10","_c11").show()

+--------------------+--------------------+--------------------+
|                 _c7|                _c10|                _c11|
+--------------------+--------------------+--------------------+
|               title|             section|         publication|
|We should take co...| several critics ...|         for example|
|Colts GM Ryan Gri...|                null|                null|
|                null|                null|                null|
|Trump denies repo...|               Davos|             Reuters|
|France's Sarkozy ...|          World News|             Reuters|
|Paris Hilton: Wom...|                null|                 TMZ|
|ECB's Coeure: If ...|                null|                null|
|                null|                null|                null|
|Venezuela detains...|          World News|             Reuters|
|You Can Trick You...| paying attention...| it makes it easi...|
|How to watch the ...|                null|                 Vox|
|China is dismissi...|                null|           Vice News|
|“Elizabeth Warren...|                null|                 Vox|
|Hudson's Bay's ch...|       Business News|             Reuters|
|Joakim Noah's Vic...|                null|                 TMZ|
|Jermaine Jackson ...| and the 2 will f...| Quincy isn't say...|
|UK PM May presses...|          World News|             Reuters|
|Nancy Pelosi says...|           of course| but it begins lo...|
|The government of...|                null|                 Vox|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [48]:
data.select(col("_c7"),col("_c10"),col("_c11")).show()

+--------------------+--------------------+--------------------+
|                 _c7|                _c10|                _c11|
+--------------------+--------------------+--------------------+
|               title|             section|         publication|
|We should take co...| several critics ...|         for example|
|Colts GM Ryan Gri...|                null|                null|
|                null|                null|                null|
|Trump denies repo...|               Davos|             Reuters|
|France's Sarkozy ...|          World News|             Reuters|
|Paris Hilton: Wom...|                null|                 TMZ|
|ECB's Coeure: If ...|                null|                null|
|                null|                null|                null|
|Venezuela detains...|          World News|             Reuters|
|You Can Trick You...| paying attention...| it makes it easi...|
|How to watch the ...|                null|                 Vox|
|China is dismissi...|                null|           Vice News|
|“Elizabeth Warren...|                null|                 Vox|
|Hudson's Bay's ch...|       Business News|             Reuters|
|Joakim Noah's Vic...|                null|                 TMZ|
|Jermaine Jackson ...| and the 2 will f...| Quincy isn't say...|
|UK PM May presses...|          World News|             Reuters|
|Nancy Pelosi says...|           of course| but it begins lo...|
|The government of...|                null|                 Vox|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [49]:
import numpy as np

In [50]:
column_chunks = np.array_split(np.array(data.columns),len(data.columns)//3)

In [51]:
column_chunks

[array(['_c0', '_c1', '_c2'], dtype='<U4'),
 array(['_c3', '_c4', '_c5'], dtype='<U4'),
 array(['_c6', '_c7', '_c8'], dtype='<U4'),
 array(['_c9', '_c10', '_c11'], dtype='<U4')]

In [52]:
for x in column_chunks:
    data.select(*x).show()

+--------------------+--------------------+-------------------+
|                 _c0|                 _c1|                _c2|
+--------------------+--------------------+-------------------+
|                null|          Unnamed: 0|               date|
|                   0|                   0|2016-12-09 18:31:00|
|                   1|                   1|2016-10-07 21:26:46|
|The highest-paid ...|https://www.busin...|               null|
|                   2|                   2|2018-01-26 00:00:00|
|                   3|                   3|2019-06-27 00:00:00|
|                   4|                   4|2016-01-27 00:00:00|
|                   5|                   5|2019-06-17 00:00:00|
|Editing by Tassil...|https://www.reute...|         Financials|
|                   6|                   6|2019-06-23 00:00:00|
|                   7|                   7|2018-05-02 17:09:00|
|                   8|                   8|2016-05-18 13:00:06|
|                   9|                   9|2017-03-02 00:00:00|
|                  10|                  10|2019-05-22 20:10:00|
|                  11|                  11|2019-06-23 00:00:00|
|                  12|                  12|2018-11-05 00:00:00|
|                  13|                  13|2019-05-10 00:00:00|
|                  14|                  14|2019-03-28 00:00:00|
|                  15|                  15|2016-09-08 15:40:02|
|                  16|                  16|2017-01-11 23:10:01|
+--------------------+--------------------+-------------------+
only showing top 20 rows

+----------------+-----+----+
|             _c3|  _c4| _c5|
+----------------+-----+----+
|            year|month| day|
|            2016| 12.0|   9|
|            2016| 10.0|   7|
|Business Insider| null|null|
|            2018|  1.0|  26|
|            2019|  6.0|  27|
|            2016|  1.0|  27|
|            2019|  6.0|  17|
|         Reuters| null|null|
|            2019|  6.0|  23|
|            2018|  5.0|   2|
|            2016|  5.0|  18|
|            2017|  3.0|   2|
|            2019|  5.0|  22|
|            2019|  6.0|  23|
|            2018| 11.0|   5|
|            2019|  5.0|  10|
|            2019|  3.0|  28|
|            2016|  9.0|   8|
|            2017|  1.0|  11|
+----------------+-----+----+
only showing top 20 rows

+--------------------+--------------------+--------------------+
|                 _c6|                 _c7|                 _c8|
+--------------------+--------------------+--------------------+
|              author|               title|             article|
|         Lee Drutman|We should take co...|"This post is par...|
|         Scott Davis|Colts GM Ryan Gri...| The Indianapolis...|
|                null|                null|                null|
|                null|Trump denies repo...|DAVOS, Switzerlan...|
|                null|France's Sarkozy ...|PARIS (Reuters) -...|
|                null|Paris Hilton: Wom...|"Paris Hilton arr...|
|                null|ECB's Coeure: If ...|BERLIN, June 17 (...|
|                null|                null|                null|
|                null|Venezuela detains...|CARACAS (Reuters)...|
|   Caroline Williams|You Can Trick You...|"If only every da...|
|         Mark Bergen|How to watch the ...|Google I/O, the c...|
|            Tim Hume|China is dismissi...|China is dismissi...|
|       Emily Stewart|“Elizabeth Warren...|Elizabeth Warren ...|
|Jessica DiNapoli,...|Hudson's Bay's ch...|(Reuters) - The s...|
|                null|Joakim Noah's Vic...|Joakim Noah's ﻿mo...|
|                null|Jermaine Jackson ...|"Jermaine Jackson...|
|                null|UK PM May presses...|LONDON (Reuters) ...|
|          Jeff Stein|Nancy Pelosi says...|"Nancy Pelosi is ...|
|        Libby Nelson|The government of...|The nonpartisan d...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

+--------------------+--------------------+--------------------+
|                 _c9|                _c10|                _c11|
+--------------------+--------------------+--------------------+
|                 url|             section|         publication|
|             however| several critics ...|         for example|
|                null|                null|                null|
|                null|                null|                null|
|https://www.reute...|               Davos|             Reuters|
|https://www.reute...|          World News|             Reuters|
|https://www.tmz.c...|                null|                 TMZ|
|                null|                null|                null|
|                null|                null|                null|
|https://www.reute...|          World News|             Reuters|
|"" DeGutis says. ...| paying attention...| it makes it easi...|
|https://www.vox.c...|                null|                 Vox|
|https://news.vice...|                null|           Vice News|
|https://www.vox.c...|                null|                 Vox|
|https://www.reute...|       Business News|             Reuters|
|https://www.tmz.c...|                null|                 TMZ|
|"" ""Thriller"" a...| and the 2 will f...| Quincy isn't say...|
|https://www.reute...|          World News|             Reuters|
|"" Skelley says. ...|           of course| but it begins lo...|
|https://www.vox.c...|                null|                 Vox|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [53]:
dropped_data = data.drop(*data.columns[:7])

In [55]:
dropped_data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _c7|                 _c8|                 _c9|                _c10|                _c11|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|               title|             article|                 url|             section|         publication|
|We should take co...|"This post is par...|             however| several critics ...|         for example|
|Colts GM Ryan Gri...| The Indianapolis...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Trump denies repo...|DAVOS, Switzerlan...|https://www.reute...|               Davos|             Reuters|
|France's Sarkozy ...|PARIS (Reuters) -...|https://www.reute...|          World News|             Reuters|
|Paris Hilton: Wom...|"Paris Hilton arr...|https://www.tmz.c...|                null|                 TMZ|
|ECB's Coeure: If ...|BERLIN, June 17 (...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Venezuela detains...|CARACAS (Reuters)...|https://www.reute...|          World News|             Reuters|
|You Can Trick You...|"If only every da...|"" DeGutis says. ...| paying attention...| it makes it easi...|
|How to watch the ...|Google I/O, the c...|https://www.vox.c...|                null|                 Vox|
|China is dismissi...|China is dismissi...|https://news.vice...|                null|           Vice News|
|“Elizabeth Warren...|Elizabeth Warren ...|https://www.vox.c...|                null|                 Vox|
|Hudson's Bay's ch...|(Reuters) - The s...|https://www.reute...|       Business News|             Reuters|
|Joakim Noah's Vic...|Joakim Noah's ﻿mo...|https://www.tmz.c...|                null|                 TMZ|
|Jermaine Jackson ...|"Jermaine Jackson...|"" ""Thriller"" a...| and the 2 will f...| Quincy isn't say...|
|UK PM May presses...|LONDON (Reuters) ...|https://www.reute...|          World News|             Reuters|
|Nancy Pelosi says...|"Nancy Pelosi is ...|"" Skelley says. ...|           of course| but it begins lo...|
|The government of...|The nonpartisan d...|https://www.vox.c...|                null|                 Vox|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [56]:
D = dict(zip(dropped_data.columns,['title','article','url','section','publication']))

In [57]:
D

{'_c7': 'title',
 '_c8': 'article',
 '_c9': 'url',
 '_c10': 'section',
 '_c11': 'publication'}

In [58]:
for old_name,new_name in D.items():
    dropped_data = dropped_data.withColumnRenamed(old_name,new_name)

In [60]:
dropped_data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|               title|             article|                 url|             section|         publication|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|               title|             article|                 url|             section|         publication|
|We should take co...|"This post is par...|             however| several critics ...|         for example|
|Colts GM Ryan Gri...| The Indianapolis...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Trump denies repo...|DAVOS, Switzerlan...|https://www.reute...|               Davos|             Reuters|
|France's Sarkozy ...|PARIS (Reuters) -...|https://www.reute...|          World News|             Reuters|
|Paris Hilton: Wom...|"Paris Hilton arr...|https://www.tmz.c...|                null|                 TMZ|
|ECB's Coeure: If ...|BERLIN, June 17 (...|                null|                null|                null|
|                null|                null|                null|                null|                null|
|Venezuela detains...|CARACAS (Reuters)...|https://www.reute...|          World News|             Reuters|
|You Can Trick You...|"If only every da...|"" DeGutis says. ...| paying attention...| it makes it easi...|
|How to watch the ...|Google I/O, the c...|https://www.vox.c...|                null|                 Vox|
|China is dismissi...|China is dismissi...|https://news.vice...|                null|           Vice News|
|“Elizabeth Warren...|Elizabeth Warren ...|https://www.vox.c...|                null|                 Vox|
|Hudson's Bay's ch...|(Reuters) - The s...|https://www.reute...|       Business News|             Reuters|
|Joakim Noah's Vic...|Joakim Noah's ﻿mo...|https://www.tmz.c...|                null|                 TMZ|
|Jermaine Jackson ...|"Jermaine Jackson...|"" ""Thriller"" a...| and the 2 will f...| Quincy isn't say...|
|UK PM May presses...|LONDON (Reuters) ...|https://www.reute...|          World News|             Reuters|
|Nancy Pelosi says...|"Nancy Pelosi is ...|"" Skelley says. ...|           of course| but it begins lo...|
|The government of...|The nonpartisan d...|https://www.vox.c...|                null|                 Vox|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [61]:
data_copy = spark.read.csv("all-the-news-2-1.csv",inferSchema=True)